
<div class="container">

<div class="row">
    <div class="centralizarDivsInternas">
        <div class="col-sm-12 col-xs-12">
            <div *ngFor="let imagensRostinho of imagensRostinhos" style="display: inline">
                <img src="{{ caminhoImagens }}{{ pastaRostinhos }}{{ imagensRostinho }}" height="100" width="100">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="centralizarDivsInternas">
        <div class="col-sm-12 col-xs-12">
            <div *ngFor="let estrelaimagem of imagensEstrelas" style="display: inline">
                <img src="{{ caminhoImagens }}{{ pastaEstrelas }}{{ estrelaimagem }}" height="75" width="75">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="centralizarDivsInternas col-sm-12 col-xs-12">
        <button type="button" class="btn btn-success">
            Arrumados
        </button>
    </div>
</div>

</div>



